body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 2rem;
}

h1, .container {
    text-align: center;
}

.img-wrapper img{
    width: 600px;
    height: 450px;
    object-fit: cover;
}

button {
    position: absolute;
    top: 55%;
    padding: 0.5rem;
}

#prev-btn {
    left: 20%;
}

#next-btn {
    right: 20%;
}