body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3.5rem;
    background-color: #b3bdd0;
}

h1,
p,
.btn-container {
    text-align: center;
}

h1 {
    margin-bottom: 3rem;
}

p {
    font-size: 3rem;
    font-weight: bold;
}

.btn {
    padding: 1rem;
}