body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3.5rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.container {
    margin: 0 auto;
    width: 400px;
    padding: 1.5rem;
    background-color: #eee;
    text-align: center;
}

#person-img {
    width: 200px;
}